.autofsck
.autorelabel
bin/
boot/
dev/
etc/
export/
hadoop/
home/
kafka-logs/
lib/
lib64/
opt/
proc/
root/
sbin/
sys/
temp.errors
tmp/
usr/
vagrant/
var/
virtualization
xa_portal.log
xa_portal_sql.log
